* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main div.item {
  .color {
    font-family: Montserrat;
    margin-bottom: 3px;
  }

  span {
    &.price {
      font-family: Montserrat;
      font-size: 15px;
    }

    &.text {
      font-family: thin;
      font-size: 15px;
    }
  }
}

#mainContent {
  background-color: rgb(255, 255, 255);
  padding-top: 70px;
  display: flex;
  flex-wrap: wrap;
}

.item {
  flex-basis: 100%;
  margin-bottom: 20px;
}

.player {
  display: flex;
  align-items: center;
}

.playerImage img {
  width: 500px;
  height: auto;
  margin-right: 20px;
}

.playerDetails {
  p {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
  }

  span {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
  }

  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.playerName {
  font-family: Montserrat-bold;
  size: 30px;
}

.playerDetails {
  p {
    font-family: Montserrat-bold;
    display: inline;
    margin: 0;
  }

  span {
    font-size: 16px;
    margin-bottom: 5px;
  }
}

.player .text {
  display: inline;
}

@media (max-width: 700px) {
  main#mainContent div.item {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }

  .player {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .playerImage img {
    width: 70%;
    height: auto;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .playerDetails {
    font-size: 3vw;
    align-items: center;
    text-align: center;

    span {
      font-size: 2.5vw;
    }
  }

  .playerName {
    font-size: 4vw;
  }

  footer#mainFoot {
    height: auto;
  }
}

@media (max-width: 430px) {
  main#mainContent {
    padding-top: 50px;
  }

  .playerImage img {
    width: 60%;
  }

  .playerDetails {
    font-size: 3.5vw;

    span {
      font-size: 3vw;
    }
  }

  .playerName {
    font-size: 5vw;
  }
}
